<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
 
  

    <div id="myDiv">
        <form action="/signup" method="post">
            <h2>SignUp</h2>
            <label for="name">Name:</label>
            <input style="width:425px" type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input style="width:425px"type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input style="width:425px" type="password" id="password" name="password" required>

            <!-- Add a dropdown for selecting the role -->
          

            <button type="submit">Sign Up</button>
        </form>
        
        <script src="js/myscript.js"></script>
    </div>


    <!-- Your main content goes here -->

    <!-- Include Footer Partial -->
    <%- include('partials/footer') %>

    <!-- Your JavaScript or additional CSS includes can be added here -->
</body>
</html>
