<!-- footer.html -->

<footer style="background-color: grey; color: white;">
    <div style="margin-bottom: 0px;;" class="container">
        <div class="footer-content" style="margin-bottom: 0px;">
          
            <div class="footer-info">
                <h4>Contact Information</h4>
                <p>Email:munibaAltaf@gmail.com</p>
                <p>Phone:03064374582</p>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
