/* public/css/logout1.css */

body {
    background-color: #f0f0f0; /* Light gray background color */
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* White container background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

h1 {
    color: #3498db; /* Blue header color */
}

p {
    color: #333; /* Dark gray paragraph color */
}

form {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #3498db; /* Blue button color */
    color: #fff; /* White button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9; /* Darker blue color on hover */
}

/* Background image */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/logout.jpg'); /* Replace with the actual path to your image */
    background-size: 50%; /* Adjust the size percentage as needed */
    
}